.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.map {
  height: 400px;
  width: 600px;
  margin: 20px;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userSearch {
  display: flex;
  margin-left: 10px;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.searchResults {
  margin-left: 13px;
  min-width: 146px;
  margin-top: 23px;
  height: fit-content;
  background-color: #202124;
  box-shadow: lightsalmon 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
  z-index: 1;
  position: absolute;
}
.searchResults::-webkit-scrollbar {
  display: none;
}

.userGpxForm {
  position: relative;
  box-shadow: 0px 1px 13px 0px salmon;
  border-radius: 10px;
  height: 1000px;
  width: 650px;
  margin-bottom: 100px;
}

.submitGpx {
  margin-bottom: 3px;
  margin-top: 3px;
}

.rideCaption {
  margin-bottom: 3px;
  margin-top: 3px;
}

.friendsFeed {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 1px 13px 0px salmon;
  border-radius: 10px;
  overflow-y: auto;
  height: 1000px;
  width: 650px;
  margin-bottom: 100px;
}

.feedBody {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
}

input[type="file"]::file-selector-button {
  padding: 0.2em 0.4em;
  border-radius: 3px;
  background-color: #8ab4f8;
  transition: 0.1s;
}

input[type="file"]::file-selector-button:hover {
  border: 2px solid salmon;
  cursor: pointer;
}

.chart-container {
  position: relative;
  height: 30vh;
  width: 70vw;
}

.map-friend {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.map-friend .map {
  height: 800px;
  width: 1000px;
  margin: 20px;
}

.userSearchLinks {
  color: #bdc1c6;
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
}

.userSearchLinks:hover {
  background-color: transparent;
  box-shadow: inset 9px -20px 20px 0px #fa80724f;
}

.searchResults .userSearchLinks {
  display: flex;
  align-items: center;
}

.logo {
  width: 80px;
  margin: 2rem;
}

.primary-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.primary-navigation {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 2rem;
}

.primary-navigation a {
  text-decoration: none;
}

.nav-items {
  display: flex;
}

.primary-navigation ul {
  margin: 2px;
}

.log-out {
  border-radius: 0;
  font-size: 1rem;
  font-weight: 500;
  color: #bdc1c6;
  text-decoration: none;
  margin-left: 10px;
  max-height: 20px;
  background: none;
  border: none;
  border-radius: None;
  box-shadow: none;
  color: None;
  transition: none;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
.log-out:hover {
  background-color: transparent;
  box-shadow: inset 0px -1px 0 0 salmon;
}

.nav-list {
  margin-left: 10px;
  font-weight: 500;
}

.avatar {
  display: flex;
  height: 30px;
  width: 30px;
  justify-content: center;
  border-radius: 100%;
  border: 2px solid salmon;
  align-items: center;
  margin-left: 10px;
  background-color: rgba(11, 300, 1, 0.1);
  box-shadow: lightsalmon 0px 1px 1px;
}

.searchBar {
  border-radius: 5px;
}

.searchIcon {
  position: absolute;
  z-index: 1;
  width: 80px;
  margin: 2rem;
}

.follow-unfollow {
  display: flex;
  justify-content: center;
}

.user-profile-table {
  margin-left: 20px;
}
.follower-table {
  margin-left: 20px;
}
.following-table {
  margin-left: 20px;
}
.other-user-table {
  margin-left: 20px;
}

.login {
  box-shadow: 0px 1px 20px 3px salmon;
  border-radius: 10px;
  overflow-y: auto;
  margin: 30px;
  min-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 200px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.login-page {
  margin: 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.register {
  box-shadow: 0px 1px 20px 3px salmon;
  border-radius: 10px;
  overflow-y: auto;
  margin: 30px;
  min-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 200px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.register-form {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.updateButtonDiv {
  display: flex;
  justify-content: flex-end;
  margin-right: 300px;
}

.updateButton {
  margin: 10px;
}

.friendCard {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  box-shadow: inset 0px 0px 7px 1px salmon;
}

.cardName {
  display: flex;
  justify-content: flex-start;
  margin: 10px;
  margin-bottom: 1px;
  margin-left: 100px;
  font-weight: 400;
}

.cardDate {
  display: flex;
  margin: 10px;
  margin-top: 1px;
  margin-left: 100px;
  font-weight: 200;
}

.cardCaption {
  display: flex;
  justify-content: flex-start;
  margin: 10px;
  margin-left: 100px;
  font-size: 30px;
  font-weight: bolder;
}

.cardElecation {
  display: flex;
  box-shadow: 0px 0.5px 0 #fa8072;
  justify-content: flex-start;
  width: max-content;
  margin: 10px;
  margin-left: 100px;
  font-size: 20px;
  font-weight: 200;
  margin-bottom: 1px;
}

.cardElecationData {
  display: flex;
  justify-content: flex-start;
  margin: 10px;
  margin: 10px;
  margin-left: 100px;
  font-size: 20px;
  font-weight: 200;
  margin-top: 1px;
}
