.component-shadow {
  box-shadow: 0px 0px 9px 0px salmon;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App img {
  position: absolute;
  top: 0;
  z-index: 10;
}

.map {
  height: 400px;
  width: 650px;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 15px;
}

.searchBar {
  display: flex;
  margin-left: 10px;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 1.5rem;
  width: 200px;
}

.searchBar:hover {
  cursor: pointer;
  box-shadow: 0px 3px 0 0 salmon;
}

.searchResults {
  margin-left: 13px;
  min-width: 146px;
  margin-top: 33px;
  height: fit-content;
  background-color: #202124;
  box-shadow: lightsalmon 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
  z-index: 1;
  position: absolute;
}
.searchResults::-webkit-scrollbar {
  display: none;
}

/* GPX Upload */

.file-upload-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 450px;
  align-items: baseline;
  padding: 0px 50px;
  padding: 10px 50px 40px;
}

.file-upload-wrapper > * {
  margin-top: 1.25rem;
}

.top-right-corner-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  align-self: flex-end;
}
.top-right-corner-button h3:hover {
  box-shadow: 0px 3px 0 0 salmon;
  color: salmon;
  cursor: pointer;
}

.top-right-corner-button div {
  margin-left: 15px;
  font-size: 2rem;
}

.uploadFile input {
  box-shadow: none;
}

.submitGpx {
  /* button */
  align-self: center;
  width: 100%;
  /* width: -webkit-fill-available; */
}

.submitGpx:disabled {
  /* button */
  background-color: transparent;
  border: 1px solid #f0aea6;
  color: #f0aea6;
  cursor: not-allowed;
}

.delete-file {
  padding: 0px 4px 1px;
  font-weight: bolder;
  border-radius: 5px;
  border: 1px solid salmon;
  color: #202124;
  background-color: salmon;
}
.delete-file:hover {
  cursor: pointer;
  border: 1px solid f0aea6;
  background-color: #f0aea6;
}

[type="file"] {
  height: 0;
  overflow: hidden;
  width: 0;
}

.file-select {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.file-select > div {
  margin-left: 10px;
  overflow: hidden;
  max-width: 250px;
}

[type="file"] + label {
  background: salmon;
  padding: 5px 20px;
  background: salmon;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: none;
  color: #202124;
  transition: 0.1s;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  display: inline-block;
  position: relative;
}

[type="file"] + label:hover {
  background-color: #f0aea6;
  cursor: pointer;
}

/* Friends Feed */

.rideCaption-label input {
  margin-left: 10px;
  font-size: 1rem;
  padding: 4px;
}

.sectionArea {
  height: 1000px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow-y: auto;
  width: 650px;
  margin-bottom: 100px;
  padding: 24px;
  align-content: center;
}

.feedBody {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
}

.chart-container {
  position: relative;
  height: 30vh;
  width: 70vw;
}

.map-friend {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.map-friend .map {
  height: 800px;
  width: 1000px;
}

.userSearchLinks {
  color: #bdc1c6;
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
  padding: 10px 10px;
}

.userSearchLinks:hover {
  background-color: transparent;
  box-shadow: inset 9px -20px 20px 0px #fa80724f;
}

.searchResults .userSearchLinks {
  display: flex;
  align-items: center;
}

.logo {
  width: 80px;
  margin: 2rem;
}

.primary-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.primary-header button:hover {
  color: salmon;
}

.primary-navigation {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 2rem;
}
.primary-navigation > * {
  font-size: 1.5rem;
}

.primary-navigation a {
  text-decoration: none;
}

.nav-items {
  display: flex;
}

.primary-navigation ul {
  margin: 2px;
}

.primary-navigation button {
  padding: 0;
  text-transform: capitalize;
  border-radius: 0;
  font-size: 1.5rem;
  font-weight: 500;
  color: #bdc1c6;
  text-decoration: none;
  margin-left: 20px;
  background: none;
  border: none;
  border-radius: None;
  box-shadow: none;
  color: None;
  transition: none;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
.primary-navigation button:hover {
  background-color: transparent;
  box-shadow: 0px 3px 0 0 salmon;
}

.nav-list {
  font-weight: 500;
}

.nav-list a {
  margin-left: 15px;
  font-weight: 500;
}

.avatar {
  font-size: 1.3rem;
  display: flex;
  height: 40px;
  width: 40px;
  padding: 2px;
  justify-content: center;
  border-radius: 100%;
  border: 2px solid salmon;
  align-items: center;
  margin-left: 15px;
  box-shadow: lightsalmon 0px 1px 1px;
  background-color: #fa807229;
  text-transform: uppercase;
  font-weight: bolder;
}

.searchIcon {
  position: absolute;
  z-index: 1;
  width: 80px;
  margin: 2rem;
}

.follow-unfollow {
  display: flex;
  justify-content: center;
}

.user-profile-table {
  margin-left: 20px;
}
.follower-table {
  margin-left: 20px;
}
.following-table {
  margin-left: 20px;
}
.other-user-table {
  margin-left: 20px;
}

.login {
  border-radius: 10px;
  overflow-y: auto;
  margin: 30px;
  min-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 10px;
}

.login-page-wrapper img {
  position: fixed;
  top: 0;
  z-index: 10;
}

.login-logo h1 {
  position: fixed;
  z-index: 10;
  left: 30px;
  top: 100px;
  color: #858995;
}

.login-page-wrapper button {
  margin-top: 20px;
}

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.login-page input {
  font-size: 1rem;
}

.login-page h1 {
  margin: 0;
}

.register {
  border-radius: 10px;
  overflow-y: auto;
  margin: 30px;
  min-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 200px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.login-form > * {
  margin-top: 15px;
}

.register-form {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.register-form > * {
  margin-top: 15px;
}

.updateButton {
  font-size: 1rem;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  margin-bottom: 15px;
}

/* FriendFeed */

.friendCard {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 1px 0 #fa8072;
}

.activityCard {
  padding: 30px 0;
}

.cardName {
  display: flex;
  justify-content: flex-start;
  font-weight: 400;
  margin-right: 15px;
  text-transform: capitalize;
}

.cardDate {
  display: flex;
  font-weight: 200;
}

.cardHeader {
  display: flex;
  flex-direction: column;
  width: inherit;
}

.friendsCard {
  /* margin: 0 65px; */
}

.cardCaption {
  display: flex;
  justify-content: flex-start;
  font-size: 30px;
  font-weight: bolder;
}

.cardData {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px 0;
}

.cardDatum {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardDatum > * {
  margin-bottom: 5px;
}

.cardElevation {
  display: flex;
  box-shadow: 0px 0.5px 0 #fa8072;
  justify-content: flex-start;
  width: max-content;
  font-size: 20px;
  font-weight: 200;
}

.cardElevationData {
  display: flex;
  justify-content: flex-start;
  font-size: 20px;
  font-weight: 200;
}

.avatarCardName {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 25px;
}
.avatarCardName > *:not(:first-child) {
  margin-left: 15px;
}
.avatarCardName .avatar {
  margin-left: 0;
}
