#root {
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #202124;
  color: #bdc1c6;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

input {
  background-color: #202124;
  color: #bdc1c6;
}

button {
  padding: 5px 20px;
  background: salmon;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: none;
  color: #202124;
  transition: 0.1s;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
}

button:hover {
  background-color: #f0aea6;
  cursor: pointer;
}

a {
  color: #bdc1c6;
  text-decoration: none;
}

a:hover {
  background-color: transparent;
  box-shadow: 0px 3px 0 0 salmon;
  color: salmon;
}

table {
  border-collapse: collapse;
  max-width: 700px;
  overflow: auto;
}

th,
td {
  padding: 5px 10px;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  -webkit-box-shado: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

h1 {
  font-weight: 500;
  text-transform: capitalize;
  margin: 0;
}

input {
  border: none;
  box-shadow: 0px 2px 0 0 #bdc1c6;
}
input:hover {
  box-shadow: 0px 2px 0 0 salmon;
  cursor: pointer;
}

p {
  margin: 0;
}

h2 {
  margin: 0;
  text-transform: capitalize;
}

h3 {
  margin: 0;
  text-transform: uppercase;
}
